.slidebar {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(223, 232, 241);
  padding: 25px 15px;
  
  
}
.slidebar img {
  width: 20px;
}
.slidebar .menu {
  display: block;
  margin-left: 10px;
  margin-bottom: 20px;
}
.slidebar .new-chat {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  color: rgba(14, 14, 15, 0.7);
  
}
.slidebar .new-chat:hover {
  background-color: rgb(205, 214, 221);
}
.slidebar .recent {
  margin-top: 30px;
  padding: 10px 15px;
  border-radius: 5px;
  display: block;
  color: rgb(12, 13, 13);
  overflow: hidden;
}
.slidebar .recent:hover {
  background-color: rgb(205, 214, 221);
}
.recent-entry {
  display: flex;
}
.slidebar .recent .recentTitle {
  font-weight: 500;
  padding-bottom: 5px;
}
.slidebar .recent .recent-entry {
  gap: 10px;
  cursor: pointer;
}
.slidebar .recent .recent-entry p {
  opacity: 0.7;
}

.slidebar.bottom {
  display: flex;
  flex-direction: column;
}
.slidebar .bottom .bottom_item {
  display: flex;
  padding: 10px;
  gap: 10px;
  background-color: rgb(223, 232, 241);
  border-radius: 2px;
  cursor: pointer;
}
.slidebar .bottom .bottom_item:hover {
  background-color: rgb(205, 214, 221);
  font-size: 15px;
}
